<!DOCTYPE html> 
<html> 
<head> 
    <title>Home Page</title> 
    <style type="text/css" media="screen"> 
        body { 
            background-color: skyblue; 
            text-decoration-color: white;
        } 
    </style> 
</head> 
<body> 
    <ul> 
        <% data.forEach((item)=>{%> 
        <li> <a href=<%=item.link%>><%=item.title%></a></li>  
        <br>
        <%});%> 
    </ul> 
</body> 
</html>                     